aiohttp==2.3.5
aiohttp-session==2.0.0
async-timeout==2.0.0
beautifulsoup4==4.6.0
chardet==3.0.4
lxml==4.6.2
multidict==3.3.2
pymongo==3.4.0
six==1.11.0
webencodings==0.5.1
yarl==0.15.0
cryptography
mongokit==0.9.1.1 
gunicorn==19.6.0 
motor==1.1 
